
table
{
    border-collapse: collapse;
    font-size: 15px;
    border: 1px solid #bbb;
    overflow: hidden;
}

th
{
    color: #555;
    position: relative;
    padding: 5px;
}

tbody tr
{
    position: relative;
    display: none;
}

tbody tr:hover
{
    background-color: #ccc;
}

tbody tr:nth-child(odd) td:first-child::before
{
    content: "";
    position: absolute;
    background-color: #eee;
    left: -5000px;
    top: 0;
    width: 10000px;
    height: 100%;
    z-index: -2;
}

td
{
    position: relative;
    text-align: center;
    padding: 5px;
    height: 40px;
}

td:hover::after
{
    content: "";
    position: absolute;
    background-color: #ccc;
    left: 0;
    top: -5000px;
    height: 10000px;
    width: 100%;
    z-index: -1;
}

img
{
    width: 100px;
}

button
{
    display: none;
    margin-left: 50px;
    margin-top: 20px;
}

form
{
    margin-left: 297px;
    margin-top: 30px;
    margin-bottom: 50px;
}

input[type="tel"]:valid ~ input[type="email"]:valid ~ button
{
    display: block;
}

input[type="text"]
{
    margin: 20px;
}

input[type="email"]
{
    margin-left: 21px;
    margin-bottom: 5px;
}

input[value="Москва"] ~ table > tbody > tr:not(.moscow),
input[value="Новосибирск"] ~ table > tbody > tr:not(.novosibirsk),
input[value="Екатеринбург"] ~ table > tbody > tr:not(.yekaterinburg),
input[value="Хельсинки"] ~ table > tbody > tr:not(.helsinki),
input[value="Санкт-Петербург"] ~ table > tbody > tr:not(.spetersburg),
input[value="Рига"] ~ table > tbody > tr:not(.riga)
{
    display: none !important;
}

input[name="A"]:checked ~ table .a,
input[name="B"]:checked ~ table .b,
input[name="C"]:checked ~ table .c,
input[name="D"]:checked ~ table .d,
input[name="E"]:checked ~ table .e,
input[name="F"]:checked + table .f
{
    display: table-row;
}

.hint
{
    font-style: italic;
    margin-left: 100px;
    color: gray;
}
